 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Just+Me+Again+Down+Here&family=Rock+Salt&display=swap');

 /*
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 675;
  font-style: normal;
}

.container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.body-card {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: #FF8A11;
  color: white;
  border-radius: 5px;
  padding: 12px 16px;
  font-size: 0.9rem;
  text-align: left;
}

.body-card-text {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: #FF8A11;
  color: white;
  border-radius: 5px;
  padding: 12px 16px;
  font-size: 1.5rem;
  text-align: left;
}
*/
.next-button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: #67C0AC;
  color: white;
  border-radius: 5px;
  padding: 12px 16px;
  font-size: 3rem;
  text-align: center;
  margin-top: -5rem;
  margin-right: 3rem;
}


.radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}

/* hide the default radio */
.radio-option input[type="radio"] {
  display: none;
}

.radio-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  color: #333;
}

/* outer circle */
.custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #FF8A11;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  transition: 0.3s ease;
}

/* inner filled circle */
.custom-radio::after {
  content: "";
  width: 12px;
  height: 12px;
  background: #FF8A11;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease;
}

/* when radio is selected */
.radio-option input[type="radio"]:checked + .custom-radio::after {
  transform: translate(-50%, -50%) scale(1);
}